.header {
	height: 24px;
	background: #f9e45a;
	cursor: grab;
	border-radius: 4px 4px 0 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding-left: 8px;
	user-select: none;
}

.header:active {
	cursor: grabbing;
}

.icon {
	font-size: 11px;
	opacity: 0.6;
}
